
.home__wrapper{
    display: flex;
    justify-content: flex-end;
}

.home{
    display: flex;
    
}

.rightSide{
    margin: 20px;
}

.block{
    display: block;
    width: 900px;
    background-color: rgb(48, 48, 48);
    color: white;
    margin: 0 auto;
    margin-top: 25px;
    padding: 15px;
    border-radius: .4rem;
    text-align: left;

    &:hover{
        cursor: pointer;
    }
}

.globalScore{
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin: 15px;
}

.block__info{
    color: rgb(185, 185, 185);
    font-weight: 700;
    text-align: center;
    margin: 15px 5px 15px 15px;
}
