.codeBlock{
    background-color: rgb(44, 44, 44);
    color: white;
    width: 70%;
    margin: 0 auto;
    margin-top: 25px;
    padding: 10px;
    border-radius: .4rem;
    text-align: left;
}

.func{
    color: rgb(228, 190, 133);
}

.dec_var{
    color:rgb(238, 30, 238)
}

.var{
    color:rgb(167, 161, 255)
}

.class{
    color:rgb(60, 194, 120)
}

.type{
    color: rgb(218, 74, 74);
}